* @johnbley

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs @johnbley
*.rst @signalfx/docs @johnbley
docs/ @signalfx/docs @johnbley
README* @signalfx/docs @johnbley
