#  https://help.github.com/en/articles/about-code-owners
#
# Global Owners
* @signalfx/gdi-ios-maintainers @signalfx/gdi-ios-approvers

.github/CODEOWNERS @signalfx/gdi-ios-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md    @signalfx/gdi-ios-maintainers @signalfx/gdi-ios-approvers @signalfx/gdi-docs
*.rst   @signalfx/gdi-ios-maintainers @signalfx/gdi-ios-approvers @signalfx/gdi-docs
docs/   @signalfx/gdi-ios-maintainers @signalfx/gdi-ios-approvers @signalfx/gdi-docs
README* @signalfx/gdi-ios-maintainers @signalfx/gdi-ios-approvers @signalfx/gdi-docs
