* @johnbley @dvernon-splunk @seemk

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @johnbley @dvernon-splunk @seemk
*.rst @signalfx/gdi-docs @johnbley @dvernon-splunk @seemk
docs/ @signalfx/gdi-docs @johnbley @dvernon-splunk @seemk
README* @signalfx/gdi-docs @johnbley @dvernon-splunk @seemk
