name: Continuous Integration
on:
  push:
    branches: [main]
  pull_request:

jobs:
  full-build:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Full Build
        run: ./fullbuild.sh
      - name: Smoke Test
        run: ./smoketest.sh
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
  xcframework:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Print Swift version
        run: swift --version
      - name: Build xcframework
        working-directory: ./SplunkRumWorkspace/SplunkRum
        run: ./build_binaries.sh
      - name: Upload xcframework
        uses: actions/upload-artifact@v3
        with:
          name: SplunkOtel.xcframework
          path: ./SplunkRumWorkspace/SplunkRum/xcframeworks/SplunkOtel.xcframework
  check_links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
