name: PR checks

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  validate-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Validate PR Title
        uses: ./.github/actions/validate-pr-title

  lint:
    name: Lint
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - run: echo "MD_APPLE_SDK_ROOT=" >> "$GITHUB_ENV"
      - run: |
          brew update
          brew install swiftlint
      - run: |
          swiftlint lint \
            --config Tools/.swiftlint.yml \
            --reporter github-actions-logging \
            --force-exclude || {
              code=$?
              if [ $code -eq 1 ]; then
                echo "No Swift files found in $dir, skipping"
              else
                exit $code
              fi
            }

  build_and_tests:
    runs-on: macos-latest
    steps:
        - uses: actions/checkout@v4.2.2
        - name: Build & Tests
          uses: ./.github/actions/build-and-tests
