name: PR checks

on:
  pull_request:
    types: [opened, reopened, synchronize]


jobs:
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          brew update
          brew install swiftlint
      - run: |
          swiftlint lint \
            --reporter github-actions-logging \
            --force-exclude || {
              code=$?
              if [ $code -eq 1 ]; then
                echo "No Swift files found in $dir, skipping"
              else
                exit $code
              fi
            }

  format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - run: echo "MD_APPLE_SDK_ROOT=" >> "$GITHUB_ENV"
      - run: |
          git ls-files -z '*.swift' | xargs -0 swift format lint --strict --parallel

  swiftformat:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          brew update
          brew install swiftformat
      - run: |
          swiftformat --lint --strict . \
            --reporter github-actions-log

  prepare:
    runs-on: macos-latest
    outputs:
      scheme: ${{ steps.scheme.outputs.scheme }}
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - id: scheme
        run: .github/actions/build-and-tests/scripts/prepare-scheme.sh

  build:
    runs-on: macos-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ios
          - platform: tvos
          - platform: visionos
          - platform: macCatalyst
    steps:
      - uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0.1'

      - run: .github/actions/build-and-tests/scripts/neutralize-sdk.sh
      - run: .github/actions/build-and-tests/scripts/prepare-workspace.sh

      - name: Resolve destination for ${{ matrix.platform }}
        id: resolve
        env:
          SCHEME: ${{ needs.prepare.outputs.scheme }}
          PLATFORM: ${{ matrix.platform }}
        run: |
          chmod +x .github/actions/build-and-tests/scripts/resolve-destination-for-platform.sh
          .github/actions/build-and-tests/scripts/resolve-destination-for-platform.sh

      - name: Show runtimes & devices
        run: |
          xcrun simctl list runtimes
          xcrun simctl list devices
          echo "Selected destination: ${{ env.DEST }}"

      - name: Ensure destination is installed
        env:
          DEST: ${{ env.DEST }}
        run: .github/actions/build-and-tests/scripts/ensure-destination.sh

      - name: Build ${{ matrix.platform }}
        env:
          SCHEME: ${{ needs.prepare.outputs.scheme }}
          DESTINATION: ${{ env.DEST }}
        run: .github/actions/build-and-tests/scripts/build.sh

  tests:
    runs-on: macos-latest
    needs: prepare
    permissions:
        contents: read
        pull-requests: write
        checks: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ios

    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0.1'

      - run: .github/actions/build-and-tests/scripts/neutralize-sdk.sh
      - run: .github/actions/build-and-tests/scripts/prepare-workspace.sh

      - name: Resolve destination for ${{ matrix.platform }}
        id: resolve
        env:
          SCHEME: ${{ needs.prepare.outputs.scheme }}
          PLATFORM: ${{ matrix.platform }}
        run: |
          chmod +x .github/actions/build-and-tests/scripts/resolve-destination-for-platform.sh
          .github/actions/build-and-tests/scripts/resolve-destination-for-platform.sh

      - name: Show runtimes & devices
        run: |
          xcrun simctl list runtimes
          xcrun simctl list devices
          echo "Selected destination: ${{ env.DEST }}"

      - name: Ensure destination is installed
        env:
          DEST: ${{ env.DEST }}
        run: .github/actions/build-and-tests/scripts/ensure-destination.sh

      - name: Run tests (${{ matrix.platform }})
        id: test
        env:
          SCHEME: ${{ needs.prepare.outputs.scheme }}
          DESTINATION: ${{ env.DEST }}
          PLATFORM: ${{ matrix.platform }}
        run: |
          export GITHUB_OUTPUT="$(mktemp)"
          .github/actions/build-and-tests/scripts/test.sh
          code=$?
          echo "xcode_status=$code" >> "$GITHUB_OUTPUT"

      - name: Publish JUnit to Checks
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: reports/junit-${{ matrix.platform }}.xml
          check_name: Tests (${{ matrix.platform }})
          require_tests: true
          include_passed: true
          fail_on_failure: false
          detailed_summary: true

      - name: Upload .xcresult artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: xcresult-${{ matrix.platform }}.xcresult
          path: TestResults_${{ matrix.platform }}.xcresult
          if-no-files-found: warn

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
